// background color
$darkBg: #232536;
$yellowBg: #ffd050;

// colors
$purple: #592ea9;
$darkGray: #4c4c4c;
$mediumGray: #6d6e76;
$lightGray: #f4f4f4;
$lavendar: #f4f0f8;
$lightYellow: #fbf6ea;
$white: #ffffff;
