@mixin displayFlexCenter($align: center, $justi: center, $gap: 0) {
    display: flex;
    justify-content: $justi;
    align-items: $align;
    gap: $gap;
}

@mixin button($color: $white) {
    padding: 16px 48px;
    background-color: $color;
    border: none;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    cursor: pointer;
}
