@import "../scss/variables/general.scss";
@import "../scss/mixins/general.scss";

body {
    margin: 0;
    padding: 0;
}
// nested scss
.header {
    width: 100%;
    height: 80px;
    padding: 0px 80px 0px 83px;
    box-sizing: border-box;
    background-color: $darkBg;
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    @include displayFlexCenter(center, space-between);
    gap: 32px;

    &__logo {
        font-size: 24px;
        font-weight: 700;
        color: $white;
    }
    &__links {
        flex-grow: 1;
        // display: flex;
        // justify-content: flex-end;
        // gap: 24px;
        @include displayFlexCenter(center, flex-end, 24px);
        * {
            color: $white;
            text-decoration: none;
        }
    }
    &__subcribe {
        @include button();
    }
}
